:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #ff6565;
    --links-hover-active: var(--color-red);
    --button-hover-active: rgba(var(--color-red));
    --content-max-width: 1000px;

    --font-size-small: 12px;
    --font-size-med: 16px;
    --font-size-lrg: 32px;
    --font-size-x-lrg: 42px;
    --line-height-base: 1.15;
    --font-size-button: 14px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Spin-Cycle-OT';
    src: url('./fonts/Spin-Cycle-OT/spincycle_ot.otf') format('opentype');
    src: local('./fonts/Spin-Cycle-OT/spincycle_ot.otf') format('opentype');
}

@font-face {
    font-family: 'Sans Source Pro Regular';
    font-weight: regular;
    src: url('./fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    src: local('./fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Sans Source Pro Bold';
    font-weight: bold;
    src:url('./fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    src:local('./fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Sans Source Pro Semibold';
    src: url('./fonts/source-sans-pro/SourceSansPro-Semibold.otf'), format('opentype');
    src: local('./fonts/source-sans-pro/SourceSansPro-Semibold.otf'), format('opentype');
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    font-size: var(--font-size-small);
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: 'Source Sans Pro Regular' Arial, Helvetica, sans-serif;
    height:300vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ______________________________HEADER & NAV !!!!!!!!-------------------------- */

header {
    padding: .25em;
    position: absolute;
    font-family: 'Sans Source Pro Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100vw;
    height: 90vh;
    background-image: url('images/headphones_hero_1.jpg');
    /* background-image: url('images/headphones_hero_1.jpg,'), radial-gradient(--color-black, --color-white); */
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
 }

 .header-nav-container {
     position: absolute;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 100vw;
     margin: 2.5em .5em;
     align-items: center;
 }

 .header-secondary-container {
     text-align: center;
     /* align-items: center; */
     /* width: 100vw; */
     padding-top: 30vh;
     line-height: var(--line-height-base);
     font-family: 'Sans Source Pro Regular', Arial, Helvetica, sans-serif;
 }

.header-secondary-container h1 {
    font-family: 'Sans Source Pro Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:var(--font-size-lrg);
    padding-top: 10vh;
}

.heaader-secondary-container h3 {
    font-family: 'Sans Source Pro Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: var(--font-size-med);
}

.header-secondary-container p {
    font-size: var(--font-size-med);
    /* padding: 2.5em 10em; */
    padding: 2.5em 5em;
    /* text-align: center; */
    /* align-self: center; */
    
}
 .logo-container {
     width: 30vw;
     margin: .15em;
 }

 .logo {
     width: 13em;
     height: 2.5em;
     background-image: url('./images/logo_headphones.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
 }

 nav .nav-menu {
     display: flex;
     flex-direction: row;
     align-content: center;
     align-items: flex-end;
 }

 ul.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 2px;
    justify-content: right;
    
}

li.nav-item a{
    text-decoration: none;
    margin: 15px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    color: var(--color-white);
    font-size: 12px;
}

li.nav-item a:active, li.nav-item a:hover {
    color: var(--color-red);
}


label.burger-check {
    line-height: var(--line-height-base);
    align-self: flex-end;
    margin: .15em;
    display: none;

}

input.burger-check {
    display: none;
}

 .burger-menu-line {
    height: 0.15rem;
    width: 1.5em;
    background-color: var(--color-white);
    border: none;
    border-radius: .15rem;
    transition: .1s;
    margin: 5px;

  }
.burger-menu-line:nth-of-type(2) {
    width: 1em;
    height: 0.15em;
}

button {
    color: var(--color-white);
    background-color: var(--color-red);
    font-family: 'Sans Source Pro', Arial, Helvetica, sans-serif;
    font-size: var(--font-size-button);
    line-height: var(--line-height-base);
    text-align: center;
    border: 0px solid transparent;
    filter: drop-shadow(0px 2px 20px rgba(0,0,0,0.5));
    border-radius: 5em;
    margin-top: 5vh;
    padding: 2vh 2vw;
}

button:hover, button:active {
    opacity: 0.9;
}

/* ______________________________IT'S WHAT WE DO !!!!!!!!-------------------------- */

section {
    display: flex;
    flex-direction: column;
    padding-top: 95vh;
    align-content: center;
    width: 100vw;
    font-family: 'Sans Source Pro Regular', Arial, Helvetica, sans-serif;
    z-index: -1;
    position: relative;
}

.what-we-do-container {
    color: var(--color-black);
    background-color: var(--color-white);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* padding: 5em; */
}

.what-we-do {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
}

.what-we-do-expo {
    position: relative;
    margin: 2em 0;
    width: 50vw;
    align-self: center;
    text-align: center;
    
}

.what-we-do-expo h1 {
    text-align: center;
    font-family: 'Sans Source Pro Semibold', Arial, Helvetica, sans-serif;
    font-family: var(--font-size-lrg);
    padding: 1em 0;
}

.what-we-do-expo p {
    text-align: center;
    font-family: 'Sans Source Pro Regular', Arial, Helvetica, sans-serif;
    font-family: var(--font-size-med);
    padding: 1em 3em;
}

.what-we-do-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding-bottom: 5em;
    padding-top: 2em;
}

.what-we-do-gallery-card {
    display: flex;
    flex-direction:column;
    width: 20em;
    position: relative;
    align-items: center;
    padding-bottom: 2em;
}

.what-we-do-gallery-desc h1 {
    text-align: center;
}

.what-we-do-gallery-desc p {
    text-align: center;
    padding: 0 2em;
}

img.icon {
    filter: invert(76%) sepia(32%) saturate(7224%) hue-rotate(318deg) brightness(100%) contrast(101%);
    image-rendering: crisp-edges;
    width: 7em;
    align-content: center;
}


/* ______________________________MEDIA QUERIES !!!!!!!!-------------------------- */

@media screen and (max-width: 768px) and (min-width: 481px) {
/* -------------------------------------------------------------HEADER */

    .header-secondary-container p {
        padding: 2.5em 5em;
        margin: 0;
        text-align: center;
        align-self: center;
    }

/* ---------------------------------------------------------WHAT WE DO */
    .what-we-do-expo {
        width: 75vw;
        align-self: center;
    
    }

    .what-we-do-gallery {
        width: 60vw;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .what-we-do-gallery-card {
        width: 25vw;
        margin: .5em;
    }

    
}

@media screen and (max-width: 480px) {
    /* ---------------------------------------------------------HEADER AND NAV*/
    .header-nav-container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }


    .header-secondary-container p {
        padding: 1em;
    }
 

    .burger-menu-line {
        display: relative;
        margin-left: 10vw;
    }

    .logo-container{
        margin-right: 50vw;
        padding-left: 5vw;
        position: sticky;
    }
    
    .logo {
        align-self: center;
    }

    label.burger-check {
        display: inline-block;
    }

    input.burger-check:checked + label.burger-check > .burger-menu-line  {
        transform: rotate(50deg);
        transform-origin: left;
        transition: transform 0.2s ease-in-out;
    }

    input.burger-check:checked + label.burger-check > .burger-menu-line:nth-of-type(2) {
        visibility: hidden;
    }

    input.burger-check:checked + label.burger-check > .burger-menu-line:nth-of-type(3) {
        transform: rotate(-50deg);
        transform-origin: left;
        transition: transform 0.2s ease-in-out;
    }

    li.nav-item {
        display: none;
    }

    input.burger-check:checked + label.burger-check ~ ul.nav-list{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            align-self: center;
        }
    input.burger-check:checked + label.burger-check ~ul.nav-list > li.nav-item {
            display: inline-flex;
            align-self: center;
            padding-left: 35vw;
    }
  
/*------------------------------------------------------------------------------------WhAT WE DO*/


    .what-we-do-gallery{
        flex-direction: column;
        align-self: center;
        align-content: center;
    }
    
    .what-we-do-gallery-card{
        width: 100vw;
        padding: 2.5em 5em;
    }

    .what-we-do-gallery-desc {
        margin: 1em 2.5em;
    }

    .what-we-do-gallery-desc p {
        padding: 2.5 10em;
    }

    .what-we-do-expo p{
        align-self: center;
        padding: 0;

    }
}